body {
  background: #181818;
  color: white;
}

.ViewBook {
  background-color: #181818;
  min-height: 100vh;
  color: white;
}

/* BookList Styles */
.catalog {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(999, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
  height:470px;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: scroll;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.cover {
  height: 350px;
  width: 270px;
}

.aligncenter {
  text-align: center;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #252525;  /* fallback for old browsers */
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.363);  /* fallback for old browsers */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 96, 96);
}